services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 5s
      timeout: 5s
      retries: 20

  app:
    build: .
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_NAME: appdb
      DB_USER: appuser
      DB_PASSWORD: apppass

      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: "1"

      PULSE_SERVER: unix:/run/user/${UID}/pulse/native
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${DOWNLOADS_DIR}:/host/Downloads:ro
      - /run/user/${UID}/pulse:/run/user/${UID}/pulse:rw
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
