services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 5s
      timeout: 5s
      retries: 20

  app:
    build: .
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_NAME: appdb
      DB_USER: appuser
      DB_PASSWORD: apppass

      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: "1"

      # звук через PulseAudio (или pipewire-pulse)
      PULSE_SERVER: unix:/run/user/1000/pulse/native
    volumes:
      # X11
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

      # твои файлы
      - /home/ionin/Загрузки:/host/Downloads:ro

      # PulseAudio сокет хоста
      - /run/user/1000/pulse:/run/user/1000/pulse:rw
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
